<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Sam Altman</title>
  </head>
  <body>
    <header>
      <h1><a href="/views/home-page.html">Sam Altman</a></h1>
    </header>

    <nav>
      <img src="/public/images/open_ai-logo.png" alt="open ai logo" />
      <ul>
        <li><a href="/views/about.html">About</a></li>
        <li><a href="/views/works.html">Works</a></li>
      </ul>
    </nav>

    <section class="about">
      <h2>About Sam</h2>
      <p>
        Sam Altman, born on April 22, 1985, is an American entrepreneur and
        investor. He has been the CEO of OpenAI since 2019, with a brief period
        of dismissal in November 2023. Prior to OpenAI, Altman served as the
        president of Y Combinator from 2014 until 2019. Altman co-founded Loopt
        at the age of 19, which was later acquired by the Green Dot Corporation.
        He became a partner at Y Combinator in 2011 and was named president in
        2014.
      </p>

      <p>
        In 2019, Altman co-founded Tools For Humanity, working on a global
        iris-based biometric system called Worldcoin. He has been involved in
        various initiatives, including funding Project Covalence during the
        COVID-19 pandemic. Altman invests in technology startups and nuclear
        energy companies, and he briefly served as the CEO of Reddit in 2014.
      </p>

      <p>
        Altman is known for his involvement in political projects, such as "The
        United Slate" in 2018 and supporting Andrew Yang's presidential campaign
        in 2019. He made a world tour in May 2023, meeting leaders and diplomats
        in 22 countries. Altman has received several awards and recognitions,
        including being named one of Time magazine's 100 most influential people
        in 2023.
      </p>

      <p>
        In his personal life, Altman is a vegetarian, gay, and in a relationship
        with Oliver Mulherin. He resides in San Francisco and owns a weekend
        home in Napa, California. Altman is also a prepper, with a keen interest
        in preparedness items.
      </p>
    </section>
  </body>
</html>
