<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Sam Altman</title>
  </head>
  <body>
    <header>
      <h1>Sam Altman</h1>
    </header>

    <nav>
      <img src="/public/images/open_ai-logo.png" alt="open ai logo" />
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/views/about.html">About Page</a></li>
        <li><a href="/views/works.html">Works Page</a></li>
      </ul>
    </nav>

    <section>
      <p>Welcome to Sam Altman's page!</p>
    </section>
  </body>
</html>
