<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Sam Altman</title>
  </head>
  <body>
    <header>
      <h1><a href="/views/home-page.html">Sam Altman</a></h1>
    </header>

    <nav>
      <img src="/public/images/open_ai-logo.png" alt="open ai logo" />
      <ul>
        <li><a href="/views/about.html">About</a></li>
        <li><a href="/views/works.html">Works</a></li>
      </ul>
    </nav>

    <section class="introduction">
      <h2>Welcome to Sam Altman's page!</h2>
      <img src="/public/images/sam-altman.webp" alt="Sam Altman saying hi" />
    </section>
  </body>
</html>
